@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #F2F2F2;
}

body{
    background-image: cover;
    background-repeat: no-repeat;
}

.homepage {
    background-image: url('./assets/home/background-home-desktop.jpg');
}

.destination {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
}

h1, h2 {
    font-family: 'Bellefair', serif;
}

p {
    font-family: 'Barlow', serif;
}

span {
    font-family: 'Barlow Condensed', sans-serif;
}